<div id="sidebar">
  <div class="inner">
    <!-- Menu -->
    <nav id="menu">
      <header class="major">
        <a href="/">
          <img src="/images/whitecircle.png" style="height: 100%; object-fit: contain; border: 0" align="left">
          <h2>CAIS++</h2>
        </a>
      </header>
      <ul>
        <li><a href="/index">About</a></li>
        <li><a href="/projects/f25-s26">Projects</a></li>
        <li>
          <span class="opener">People</span>
          <ul>
            <li><a href="/people">Current Members</a></li>
            <li><a href="/people/alumni">Alumni</a></li>
            <li><a href="/curriculum/seminar">Invited Speakers</a></li>
          </ul>
        </li>
        <li>
          <span class="opener">Curriculum</span>
          <ul>
            <li><a href="/curriculum">Overview</a></li>
            <li><a href="/curriculum/intro">[1] Introduction to AI</a></li>
            <li>
              <span class="opener curriculum-opener">[2] Classical Machine Learning</span>
              <ul>
                <li><a href="/curriculum/classical/knn">[2.1] k-Nearest Neighbors</a></li>
                <li><a href="/curriculum/classical/linear-regression">[2.2] Linear Regression</a></li>
                <li><a href="/curriculum/classical/logistic-regression">[2.3] Logistic Regression</a></li>
                <li><a href="/curriculum/classical/support-vector-machines">[2.4] Support Vector Machines</a></li>
                <li><a href="/curriculum/classical/decision-trees">[2.5] Decision Trees</a></li>
                <li><a href="/curriculum/classical/naive-bayes">[2.6] Naive Bayes</a></li>
              </ul>
            </li>
            <li>
              <span class="opener curriculum-opener">[3] Neural Networks</span>
              <ul>
                <li><a href="/curriculum/neural-networks/architecture">[3.1] Architecture</a></li>
                <li><a href="/curriculum/neural-networks/training">[3.2] Training</a></li>
                <li><a href="/curriculum/neural-networks/optimization">[3.3] Optimization</a></li>
              </ul>
            </li>
            <li>
              <span class="opener curriculum-opener">[4] Neural Network Flavors</span>
              <ul>
                <li><a href="/curriculum/neural-network-flavors/convolutional-neural-networks">[4.1] Convolutional Neural Networks</a></li>
                <li><a href="/curriculum/neural-network-flavors/recurrent-neural-networks">[4.2] Recurrent Neural Networks</a></li>
                <li><a href="/curriculum/neural-network-flavors/transformers">[4.3] Attention & Transformers</a></li>
                <li><a href="/curriculum/neural-network-flavors/generative-adversarial-networks">[4.4] Generative Adversarial Networks</a></li>
              </ul>
            </li>
            <span class="opener curriculum-opener">[5] Special Topics</span>
            <ul>
              <li><a href="/curriculum/special-topics/transfer-learning">[5.1] Transfer Learning</a></li>
              <li><a href="/curriculum/special-topics/reinforcement-learning">[5.2] Reinforcement Learning</a></li>
            </ul>
            <li><a href="/curriculum/reading-list">Reading List</a></li>
            <li><a href="/curriculum/seminar">Speaker Seminar</a></li>
          </ul>
        </li>
        <li><a href="/#applications">Apply</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>

    <!-- Section -->
    <section id="contact-section">
<!--      <header class="major">-->
<!--        <h2>Get in touch</h2>-->
<!--      </header>-->
<!--      <h3 class="nomargin">For Clients/Professors</h3>-->
<!--      <p>{{ site.data.contact-blurbs.clients }}</p>-->
<!--      <a href="/contact/clients" class="button big">More Info</a>-->

<!--      <h3>For Sponsors</h3>-->
<!--      <p>{{ site.data.contact-blurbs.sponsors }}</p>-->
<!--      <a href="/contact/sponsors" class="button big">More Info</a>-->

<!--      <h3>For Prospective Members</h3>-->
<!--      <p>{{ site.data.contact-blurbs.applicants }}</p>-->

      <h3>Contact Information</h3>

      <ul class="contact">
<!--        <li class="icon solid fa-envelope"><a href="mailto:caisplus@usc.edu">caisplus@usc.edu</a></li>-->
        <li>
          <a class="fas fa-envelope" href="mailto:caisplus@usc.edu" target="_blank"></a>
          <a class="fab fa-twitter" href="https://twitter.com/CAISplusplus" target="_blank"></a>
          <a class="fab fa-instagram" href="https://www.instagram.com/caisplusplus/" target="_blank"></a>
          <a class="fab fa-github" href="https://github.com/usc-caisplusplus" target="_blank"></a>
        </li>
      </ul>
    </section>

    <section id="sponsors">
      <header class="major">
        <h2>Our Sponsors</h2>
      </header>
      <div class="content">
        <img src="/images/sponsorship/sponsors/apple.png">
        <img src="/images/sponsorship/sponsors/boeing.png" style="height: 2.5em;">
        <img src="/images/sponsorship/sponsors/chevron.png">
        <img src="/images/sponsorship/sponsors/wintec.png" style="height: 1.8em;">
        <img src="/images/sponsorship/sponsors/twosixlabs.png" style="height: 2.5em;">
        <img src="/images/sponsorship/sponsors/nvidia.png">
      </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <p class="copyright">&copy; CAIS++ Artificial Intelligence for social good. <br>
        Design: <a href="https://html5up.net" target="_blank">HTML5 UP</a>. <br>
        Icons: <a href="https://www.flaticon.com" target="_blank">Flaticon</a>.</p>
    </footer>
  </div>
</div>