---
layout: default
title: Projects | CAIS++
stylesheets:
- /assets/css/projects.css
scripts:
---
<!-- Banner -->
<section id="banner">
  <div class="content">
    <header>
      <h1>{{ "projects" | upcase }}</h1>
    </header>
    <h4>{{"what we've been up to" | upcase}}</h4>
    <div class="tabContainer">
      <a href="/projects/f25-s26" {% if page.pageID == "f25-s26" %}class="active button"{% else %}class="button"{% endif %}>F25 - S26</a>
      <a href="/projects/f24-s25" {% if page.pageID == "f24-s25" %}class="active button"{% else %}class="button"{% endif %}>F24 - S25</a>
      <a href="/projects/f23-s24" {% if page.pageID == "f23-s24" %}class="active button"{% else %}class="button"{% endif %}>F23 - S24</a>
      <a href="/projects/f22-s23" {% if page.pageID == "f22-s23" %}class="active button"{% else %}class="button"{% endif %}>F22 - S23</a>
      <a href="/projects/f21-s22" {% if page.pageID == "f21-s22" %}class="active button"{% else %}class="button"{% endif %}>F21 - S22</a>
      <a href="/projects/f20-s21" {% if page.pageID == "f20-s21" %}class="active button"{% else %}class="button"{% endif %}>F20 - S21</a>
      <a href="/projects/f19-s20" {% if page.pageID == "f19-s20" %}class="active button"{% else %}class="button"{% endif %}>F19 - S20</a>
      <a href="/projects/f18-s19" {% if page.pageID == "f18-s19" %}class="active button"{% else %}class="button"{% endif %}>F18 - S19</a>
      <a href="/projects/s18" {% if page.pageID == "s18" %}class="active button"{% else %}class="button"{% endif %}>S18</a>
    </div>
  </div>
</section>

<!-- Project List Builder -->
{% for project_term in site.data.projects.projects %}
{% if project_term.pageID == page.pageID %}
<!-- Section -->
<section>
  <header class="major">
    <h2>{{ project_term.term | upcase }}</h2>
  </header>
  {% for project in project_term.projects %}
  {% if project.id %}
  <article id={{ project.id }}>
  {% else %}
  <article>
  {% endif %}
    <div class="image"><img src={{ project.image }} alt="" /></div>
    <div class="content">
      <h3>{{ project.title }}</h3>
      <h5>
        {% for leadAuthor in project.leadAuthors %}
        {{ leadAuthor }}&nbsp;<span class='accent'>*</span>{% unless forloop.last %}{{" ,"}}{% endunless %}
        {% endfor %}
        {% if project.authors %}{{","}}{% endif %}
        {% for author in project.authors %}
        <span>{{ author }}</span>{% unless forloop.last %}{{" ,"}}{% endunless %}
        {% endfor %}
        {% if project.advisorAuthors %}{{","}}{% endif %}
        {% for advisorAuthor in project.advisorAuthors %}
        <span>{{ advisorAuthor }}</span>&nbsp;<span class='accent-yellow'>*</span>{% unless forloop.last %}{{" ,"}}{% endunless %}&nbsp;
        {% endfor %}
      </h5>
      {% if project.leadAuthors or project.advisorAuthors %}
      <h6>
        {% if project.leadAuthors %}
        {{"<span class='accent'>*</span>&nbsp;Project Lead&nbsp;&nbsp;&nbsp;"}}
        {% endif %}
        {% if project.advisorAuthors %}
        {{"<span class='accent-yellow'>*</span>&nbsp;Project Advisor"}}
        {% endif %}
      </h6>
      {% endif %}
      <p>{{ project.description }}</p>
      <ul class="actions">
        {% if project.paper %}
        <li><a href="{{project.paper}}" target="_blank" class="button">Paper</a></li>
        {% endif %}
        {% if project.poster %}
        <li><a href="{{project.poster}}" target="_blank" class="button">Poster</a></li>
        {% endif %}
        {% if project.slides %}
        <li><a href="{{project.slides}}" target="_blank" class="button">Slides</a></li>
        {% endif %}
        {% if project.github %}
        <li><a href="{{project.github}}" target="_blank" class="button">Github</a></li>
        {% endif %}
        {% if project.media %}
        <li><a href="{{project.media}}" target="_blank" class="button">Media</a></li>
        {% endif %}
      </ul>
    </div>
  </article>
  {% endfor %}
</section>
{% endif %}
{% endfor %}
<section class="pageNav">
  <a href="{{ page.previous }}" class="button"
     {% unless page.previous %}
     style="visibility: hidden;"
     {% endunless %}
  ><i class="fas fa-angle-left"></i> Previous</a>
  <a href="{{ page.next }}" class="button"
     {% unless page.next %}
     style="visibility: hidden;"
     {% endunless %}
  >Next <i class="fas fa-angle-right"></i></a>
</section>